<div class='container'>
			<h2><strong>Movie Screenings</strong></h2>

<h4 class='text-muted'>{{date1}}</h4>
{{#if day1}}
      {{#each day1}}
      <div class='media'>
        <a class='pull-left' href='#'>
          <img class="media-object movie-img" src={{this.posterUrl}}>
        </a>
        <div class='media-body'>
          <h4>{{this.title}}<small> Screen {{this.screenNum}}</small></h4>
          <p class='text-muted'>
            Runtime: {{this.duration}}<br>
            Rating: {{this.rating}}<br>
            {{this.price}} PHP<br><br>
            <a class="slotlink" style="color: blue">{{this.time1}}</a><br>
            <a class="slotlink" style="color: blue">{{this.time2}}</a><br>
            <a class="slotlink" style="color: blue">{{this.time3}}</a><br>
            <div class='text-justify text-muted'>
              {{this.desc}}
            </div>
          </p>
        </div>
      </div>
      <br>
			<hr>
      {{/each}}
{{else}}
	<p>No movies available. Sorry for the inconvenience.</p>
{{/if}}
<h4 class='text-muted'>{{date2}}</h4>
{{#if day2}}
      {{#each day2}}
      <div class='media'>
        <a class='pull-left' href='#'>
          <img class="media-object movie-img" src={{this.posterUrl}}>
        </a>
        <div class='media-body'>
          <h4>{{this.title}}<small> Screen {{this.screenNum}}</small></h4>
          <p class='text-muted'>
            Runtime: {{this.duration}}<br>
            Rating: {{this.rating}}<br>
            {{this.price}} PHP<br><br>
            <a class="slotlink" style='color: blue'>{{this.time1}}</a><br>
            <a class="slotlink" style="color: blue">{{this.time2}}</a><br>
            <a class="slotlink" style="color: blue">{{this.time3}}</a><br>
            <div class='text-justify text-muted'>
              {{this.desc}}
            </div>
          </p>
        </div>
      </div>
      <br>
			<hr>
      {{/each}}
{{else}}
	<p>No movies available. Sorry for the inconvenience.</p>
{{/if}}
<h4 class='text-muted'>{{date3}}</h4>
{{#if day3}}
      {{#each day3}}
      <div class='media'>
        <a class='pull-left' href='#'>
          <img class="media-object movie-img" src={{this.posterUrl}}>
        </a>
        <div class='media-body'>
          <h4>{{this.title}}<small> Screen {{this.screenNum}}</small></h4>
          <p class='text-muted'>
            Runtime: {{this.duration}}<br>
            Rating: {{this.rating}}<br>
            {{this.price}} PHP<br><br>
            <a class="slotlink" style="color: blue">{{this.time1}}</a><br>
            <a class="slotlink" style="color: blue">{{this.time2}}</a><br>
            <a class="slotlink" style="color: blue">{{this.time3}}</a><br>
            <div class='text-justify text-muted'>
              {{this.desc}}
            </div>
          </p>
        </div>
      </div>
      <br>
			<hr>
      {{/each}}
{{else}}
	<p>No movies available. Sorry for the inconvenience.</p>
{{/if}}
</div>
